<div class="bbg">
  <div class="bbg--inner">
    <div class="players">
      <h3 class="players__p1"><span class="players__p1--span">P1</span> {{ monster.name }}</h3>
      <h3 class="players__vs"><span class="players__vs--span">Vs</span></h3>
      <h3 class="players__cpu"><span class="players__cpu--span">CPU</span> {{ cpu.name }}</h3>
    </div>
    <div class="sprites">
      <img class="sprites__p1" src="{{ monster.monsterUrl }}" alt="Your Monster"/>
      <img class="sprites__cpu" src="{{ cpu.url }}" alt="Enemy Monster" />
    </div>
  </div>
</div>
