.bbg {
  background-image: url("../../assets/images/bbg.png");
  width: 70vw;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #c75dc1;
  border-radius: 5px;
  &--inner {
    height: 100%;
    position: relative;
  }
}

.players {
  display: flex;
  font-size: 2rem;
  color: #9d9d9d;
  user-select: none;
  &__p1 {
    flex: 1;
    text-align: left;
    padding-left: 1rem;
    &--span {
      color: #ee0000;
    }
  }
  &__vs {
    text-align: center;
    color: #facf03;
  }
  &__cpu {
    flex: 1;
    text-align: right;
    padding-right: 1rem;
    &--span {
      color: #0038ee;
    }
  }
}

.sprites {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10%;
  padding: 0 12% 0 12%;
  & img {
    max-width: 100px;
    height: auto;
  }
}

.battle-data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  color: #9d9d9d;
  user-select: none;
  & > * {
    flex: 1;
  }
}
