<div class="bbg">
  <div class="bbg--inner">
    <div class="players">
      <h3 class="players__p1"><span class="players__p1--span">P1</span> {{ monster.name }}</h3>
      <h3 class="players__vs"><span class="players__vs--span">Vs</span></h3>
      <h3 class="players__cpu"><span class="players__cpu--span">CPU</span> {{ cpu.name }}</h3>
    </div>
    <div class="sprites">
      <img [ngClass]="p1SpriteClass" class="sprites__p1" src="{{ monster.monsterUrl }}" alt="Your Monster"/>
      <img [ngClass]="cpuSpriteClass" class="sprites__cpu" src="{{ cpu.url }}" alt="Enemy Monster" />
    </div>
    <img *ngIf="attackShow" [ngClass]="attackClass" class="attack" src="./assets/images/fire.png" alt="Attack" />
    <div class="battle-data">
      <h3 [style.color]="p1Color" [ngClass]="p1Class" class="battle-data__p1-data">{{ p1Data }}</h3>
      <button type="button"
              [ngClass]="battleBtnClass"
              class="button"
              (click)="battleStep()"
      >{{ battleBtnText }}</button>
      <h3 [style.color]="cpuColor" [ngClass]="cpuClass" class="battle-data__cpu-data">{{ cpuData }}</h3>
    </div>
  </div>
</div>
