<div class="container">
  <div class="create-monster">
    <h2>Lets See What You Found!</h2>
    <div class="create-monster__form--container">
      <div class="create-monster__form--wrapper">
        <img class="create-monster__image" src="../../assets/images/barcode-blank.webp" alt="A Blank Barcode"/>
        <form class="create-monster__form">
          <input class="create-monster__form--input" type="text" placeholder="Enter Barcode Here">
        </form>
      </div>
    </div>
    <div class="create-monster_button--wrapper">
      <button class="create-monster__button" routerLink="/reveal">REVEAL</button>
    </div>
  </div>
</div>
