<div class="container">
  <div class="create-monster">
    <h2>Lets See What You Found!</h2>
    <form class="create-monster__form">
      <img class="create-monster__form--image" src="../../assets/images/barcode-blank.webp" alt="A Blank Barcode"/>
      <input #seed class="create-monster__form--input" type="text" placeholder="Enter Barcode Here">
      <div class="create-monster__form--button-wrapper">
        <button class="create-monster__form--button" (click)="revealMonster(seed.value)">REVEAL</button>
      </div>
    </form>
  </div>
</div>
