h2 {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  color: #94a403;
}

.create-monster {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 1rem;
    border: 5px solid #c75dc1;
    border-radius: 5px;
    background-color: #fff;
    &--image {
      width: 70%;
      height: auto;
      margin-top: 1rem;
    }
    &--input {
      width: 50%;
      height: 4rem;
      position: absolute;
      bottom: 6rem;
      border: 3px solid #ee0000;
      padding: 1rem;
      outline: none;
      text-align: center;
      font-size: 2rem;
    }
    &--button-wrapper {
      width: 50%;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }
    &--button {
      height: 4rem;
      border: 5px solid #94a403;
      border-radius: 5px;
      padding: 0 1rem 0 1rem;
      font-size: 3rem;
      line-height: 0;
      color: #c75dc1;
      background-color: #8200fd;
      &:hover {
        border: 5px solid #c75dc1;
        color: #8200fd;
        background-color: #94a403;
      }
    }
  }
}
