#error {
  width: 50%;
  position: absolute;
  top: 30%;
  border: 5px solid #ee0000;
  border-radius: 5px;
  padding: 1rem;
  font-size: 3rem;
  line-height: 0.5;
  color: #ee0000;
  background-color: #9d9d9d;
  box-shadow: 10px 10px 10px #000;
  &:empty
  {
    display:none;
  }
}

.create-monster {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 1rem;
    border: 5px solid #c75dc1;
    border-radius: 5px;
    background-color: #fff;
    &--image {
      width: 70%;
      height: auto;
      margin-top: 1rem;
    }
    &--input {
      width: 50%;
      height: 4rem;
      position: absolute;
      bottom: 6rem;
      border: 3px solid #ee0000;
      padding: 1rem;
      outline: none;
      text-align: center;
      font-size: 2rem;
    }
    &--button-wrapper {
      width: 50%;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
}
