h1 {
  max-width: fit-content;
  text-align: center;
  font-size: 6rem;
  color: #c75dc1;
  cursor: pointer;
  &:hover {
    color: darken(#c75dc1, 20%);
  }
}

.bg {
  background-image: url("../assets/images/bg.png");
  min-height: 100vh;
  background-repeat: repeat;
}
