h2 {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  color: #94a403;
}

p {
  width: 100%;
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  color: #9d9d9d;
}

.instructions {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__image {
    max-width: 200px;
    height: auto;
    margin-top: 1rem;
    border-radius: 5px;
  }
  &__text--min {
    width: 75%
  }
  &__button {
    height: 4rem;
    margin-top: 1rem;
    border: 5px solid #94a403;
    border-radius: 5px;
    padding: 0 1rem 0 1rem;
    font-size: 3rem;
    line-height: 0;
    color: #c75dc1;
    background-color: #8200fd;
    &:hover {
      border: 5px solid #c75dc1;
      color: #8200fd;
      background-color: #94a403;
    }
  }
}
