<div class="container">
  <div class="instructions">
    <h2>Monsters Lurk Everywhere!</h2>
    <p>Not everyone can see monsters, but this special site allows you to see the monsters that are hidden within objects.</p>
    <img class="instructions__image" src="../../assets/images/barcode-guide.png" alt="A Barcode"/>
    <p class="instructions__text--min">Simply enter the barcode on any item to see the monster contained within.
      Then see how tough they are by having them fight in the arena. Click the 'Create' button to begin.</p>
    <p>Just remember, if you find a particularly tough monster in a pack of biscuits, it might be an idea to save him some!</p>
    <button class="instructions__button" routerLink="/create">START</button>
  </div>
</div>
