.instructions {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__image {
    max-width: 200px;
    height: auto;
    margin-top: 1rem;
    border-radius: 5px;
  }
  &__text--min {
    width: 75%
  }
}
